
.category {
    grid-column: 1 /  2;
    grid-row: 1 / -1;

    display: flex;
    flex-direction: column;
    

    &__list {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;

        &-item {
            display: flex;
            padding: 10px 20px;
            display: flex;
            gap: 5px;
            position: relative;

            &_icon {

            }
            

            &_link {
                cursor: pointer;
                font-size: 1.2rem;
                font-weight: 400;
                
            }

            ::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 1px;
                background: grey;
                width: 100%;
                opacity: 0.5;

            }
        }
    }
}